<!-- Bar menu -->

<header>
  <ul>
      <li><a [routerLink]="['/home']" [routerLinkActive]="['actived']">Inicio</a></li>
      <li><a [routerLink]="['/radio']" [routerLinkActive]="['actived']">Radio</a></li>
      <!-- <li id="logo"><a href="#">Metanoia</a></li> -->
      <li><a [routerLink]="['/teach']" [routerLinkActive]="['actived']">Charlas</a></li>
      <li><a [routerLink]="['/contact']" [routerLinkActive]="['actived']">Contacto</a></li>
  </ul>
</header>

<section id="content">
  <router-outlet></router-outlet>
</section>

<footer>Metanoia A.C.</footer>