<!-- Bar menu -->

<header>
  <ul>
      <li><a [routerLink]="['/about-me']" [routerLinkActive]="['actived']">Inicio</a></li>
      <li><a [routerLink]="['/projects']" [routerLinkActive]="['actived']">Radio</a></li>
      <li id="logo"><a href="#">Metanoia</a></li>
      <li><a [routerLink]="['/create-project']" [routerLinkActive]="['actived']">Charlas</a></li>
      <li><a [routerLink]="['/contact']" [routerLinkActive]="['actived']">Contacto</a></li>
  </ul>
</header>

<section id="content">
  <router-outlet></router-outlet>
</section>

<footer>Angular project &copy</footer>